body {
    margin: 0;
    background: pink;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
}
header, footer{
    grid-column: 1 / 4;
}